/* Inspired by: https://github.com/jakehamilton/dotfiles/blob/master/waybar/config */

/* Color definitions */
@define-color dark #282a36;
@define-color light #f8f8f2;
@define-color purple #bd93f9;
@define-color red #ff6e67;
@define-color yellow #f1fa8c;
@define-color teal #9aedfe;
@define-color green #5af78e;

* {
  font-family: DejaVuSansMono Nerd Font;
  font-size: 14px;
  min-height: 1em;
  margin: 0;
  padding: 0;

  transition: none;
  border-radius: 26px;
  background: transparent;
}

label {
  margin: 0.2em;
  padding: 0 0.5em;

  background: alpha(@light, 0.05);
}

#workspaces {
  background: alpha(@light, 0.05);
  margin-left: 1em;
}

/* Workspace highlighting */
#workspaces label {
  background: transparent;
}

#workspaces :hover {
  background: alpha(@light, 0.07);
}

#workspaces .focused {
  background: alpha(@light, 0.21);
}

/* Module backgrounds */
#network {
  color: @dark;
  background: @purple;
}

#temperature {
  color: @dark;
  background: @green;
}

#memory {
  color: @dark;
  background: @red;
}

#cpu {
  color: @dark;
  background: @yellow;
}

#pulseaudio {
  color: @dark;
  background: @teal;
}

#tray {
  background: @dark;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#clock, #custom-weather {
  background: transparent;
}

/* Center weather icon*/
#clock {
	margin-right: 0em;
	padding-right: 0em;
}

#custom-weather {
	margin-left: 0em;
	padding-left: 0em;
}

/* Fix tooltip background */
tooltip, tooltip label {
  background: @dark;
}
