/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

/* Inspired by: https://github.com/jakehamilton/dotfiles/blob/master/waybar/config */

/* Backgrounds */
@define-color bg-main #282a36;
@define-color bg-launcher @bg-main;
@define-color bg-workspace @bg-main;
@define-color bg-network @bg-main;
@define-color bg-cpu @bg-main;
@define-color bg-mem @bg-main;
@define-color bg-audio @bg-main;
@define-color bg-battery @bg-main;
@define-color bg-display @bg-main;
@define-color bg-systray @bg-main;
@define-color bg-weather @bg-main;
@define-color bg-power @bg-main;

/* Text colors */
@define-color light #f8f8f2;
@define-color dark #4d4d4d;
@define-color launcher @light;
@define-color workspace @light;
@define-color network @;
@define-color cpu @light;
@define-color mem @light;
@define-color audio @light;
@define-color battery @light;
@define-color display @light;
@define-color systray @light;
@define-color weather @light;
@define-color power @light;

* {
	font-family: Nerd Font Hack;
	font-size: 14px;
	min-height: 5px;
}

label {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;

	margin-left: 2px;
	margin-right: 2px;
	padding-left: 13px;
	padding-right: 13px;
	border-radius: 26px;

	transition: none;
	color: @main;
	background: #282a36;
}

#waybar {
	background: transparent;
}

#waybar.hidden {
	/*opacity: 0.2;*/
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 8px;
	border-radius: 26px;
	background: @bg-workspace;
	/* transition: none; */
}

#workspaces button {
	transition: none;
	background: transparent;
	font-size: 16px;

	border-radius: 26px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}

#workspaces button.focused {
	color: #9aedfe;
	border-color: shade(@bg-workspace, 8);
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
	border-color: shade(@bg-workspace, 2);
}

#network {
	color: #4d4d4d;
	background: #bd93f9;
}

#idle_inhibitor {
	color: #4d4d4d;
	background: #bd93f9;
}

#pulseaudio {
	color: #4d4d4d;
	background: #9aedfe;
}

#temperature {
	color: #4d4d4d;
	background: #5af78e;
}

#cpu {
	color: #4d4d4d;
	background: #f1fa8c;
}

#memory {
	color: #4d4d4d;
	background: #ff6e67;
}

#clock {
	color: #f8f8f2;
	background: #282a36;
}
